# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Node
node_modules/

# Environment Variables
.env
*.env

# Local Databases and Data
data/
/db/
docs/
*.sqlite
*.sqlite3

# OS Files
.DS_Store

# IDEs
.vscode/
.idea/

# GSD
.planning/

# Agents
.agents/
